/* 모바일 스타일 */
body {
    overflow: scroll;
}

#home {
    margin-top: 110px;
}

/* 배너너 */
#banner {
    width: 100%;
    padding: 0 16px;
    display: flex;
}

#banner-preview {
    display: none;
}

#banner-main {
    position: relative;
    flex: 1;
    width: 100%;
}

#banner .swiper {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
}

#banner .image-wrapper {
    display: flex;
}

#banner .event {
    width: 100%;
    object-fit: cover;
    transition: transform 0.2s;
}

#banner .event:hover {
    transform: scale(1.05);
}

#banner .swiper-button-prev,
#banner .swiper-button-next {
    display: none;
}

.banner__swiper-pagination {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    height: 20px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background: rgba(33, 38, 41, 0.5);
    padding-left: 10px;
    padding-right: 6px;
    display: flex;
    align-items: center;
}

.banner__swiper-pagination span {
    font-size: 12px;
    font-weight: 700;
    color: #ffffff;
}

.banner__swiper-pagination .plus-icon {
    max-width: 12px;
    max-height: 12px;
    object-fit: contain;
    margin-left: 2px;
}

/* 퀵 메뉴 */
#quick-menu {
    padding: 0 16px;
}

#quick-menu .grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 16px;
    margin-bottom: 20px;
}

.quick-menu__item {
    text-align: center;
}

.quick-menu__icon {
    width: 100%;
    max-width: 78px;
}

.quick-menu__label {
    display: block;
    color: #2f3438;
    font-size: 12px;
    margin-top: 6px;
    line-height: 16px;
    letter-spacing: -0.3px;
}

#home .section-divider {
    height: 10px;
    background-color: rgb(247, 249, 250);
    border: none;
    margin: 0px;
}

/* 인테리어 피드 - header */
#interior-feed {
    padding: 0 16px;
    padding-bottom: 20px;
}

.feed-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.feed-text {
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: rgb(47, 52, 56);
    letter-spacing: -0.3px;
    max-width: 100%;
    min-width: 0;
}

.feed-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.feed-title:hover {
    color: #97999b;
}

.feed-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.feed-more .arrow-right-icon {
    width: 19px;
    margin-right: 2px;
    margin-top: 2px;
    cursor: pointer;
    vertical-align: middle;
}

/* 인테리어 피드 - content */
.feed-content {
    width: calc(100% + 32px);
    margin-left: -16px;
}

.feed-content .swiper-wrapper {
    padding: 0 16px;
}

.feed-content .swiper-slide {
    flex-shrink: 0;
}

.feed-content .feed-post {
    display: block;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    width: calc(100% - 12px);
    display: flex;
}

.feed-content .feed-post-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.feed-content .profile-info {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 8px;
    display: flex;
    align-items: center;
}

.feed-content .profile-image {
    width: 24px;
    height: 24px;
    object-fit: cover;
    border-radius: 100%;
    overflow: hidden;
}

.feed-content .profile-name {
    margin-left: 4px;
    font-size: 12px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    letter-spacing: -0.3px;
}

.feed-content .bookmark-icon {
    position: absolute;
    bottom: 0;
    right: 0;
}
